Header{
    position: sticky;
    top: 0;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    border-radius: 10px;
    background: linear-gradient(rgb(233, 131, 36),rgb(112, 202, 197));
}
h1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fcf3fb;
}

h1 span{
    color: rgb(6, 6, 7);
}
nav{
    display: flex;
    gap:10px;
    
}
nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: rgb(159, 70, 194);
}